<!DOCTYPE html>
<html ng-app="ngApplySubmitApp">

	<head>
		<meta charset="UTF-8">
		<title></title>

        <!-- 自定义样式 -->
        <link rel="stylesheet" href="css/Views/divisionAdmin/applicationManagement/division_application.css" />
	</head>

	<body ng-controller="ngApplySubmitCtrl">

		<div class="container">

			<!-- 面包屑导航 -->
			<br />
			<ol class="breadcrumb">
				<li>
					<a><i class="fa fa-dashboard"></i> 单位管理</a>
				</li>
				<li>
					<a> 申请书管理</a>
				</li>
				<li> <span>已通过申请书</span></li>
			</ol>

			<!-- 已提交申请书列表 -->
			<div class="box box-solid">
				<!-- box header -->
				<div class="box-header bg-green">
					<div class="pull-right box-tools">
						<button class="btn btn-primary btn-sm bg-green pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
					<i class="fa fa-sticky-note"></i>
					<h3 class="box-title">已通过申请书</h3>
				</div>
				<!-- box body -->
				<div class="box-body">
					<div id="example1_wrapper" class="dataTables_wrapper form-inline" role="grid">
						<br />

                        <!-- toolbar-->
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12" style="margin-left: 8px;">
                                <!-- 搜索分类 -->
                                <label for="select" class="control-label">分类</label>
                                <select class="form-control"
                                        id="select"
                                        style="margin-left: 16px;"
                                        ng-model="selectValue"
                                        ng-options="projectType.ProjectTypeId as projectType.Name for projectType in projectTypeList"
                                        ng-change="load_page(1)">
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <div class="form-group" style="float:right;margin-right:3vw;">
                                <button class="btn btn-primary" ng-click="exportDivisionSubmitedList(selectValue)">导出列表</button>
                            </div>
                        </div>

						<br />
                        <table id="submitedTable" class="table" ng-hide="divisionAppliesIsNull">
                            <thead>
                                <tr>
                                    <th class="table-middle" style="width: 48px;">序号</th>
                                    <th>名称</th>
                                    <th class="table-middle" style="width:144px">委托</th>
                                    <th style="min-width: 104px;">类别</th>
                                    <th style="min-width: 64px;">负责人</th>
                                    <th style="min-width: 64px;">全文</th>
                                    <th style="min-width: 48px;">状态</th>
                                    <th style="min-width: 72px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="acceptApply in acceptApplies track by acceptApply.ApplicationId" ng-cloak>
                                    <td>{{$index +1}}</td>
                                    <td>
                                        <span class="text">{{acceptApply.ProjectName}}</span>
                                    </td>
                                    <td class="table-middle">
                                        <span class="label label-default" ng-if="acceptApply.DeleageType == 0"> 非委托</span>
                                        <span class="label label-primary" ng-if="acceptApply.DeleageType == 1"> 委托</span>
                                    </td>
                                    <td>{{acceptApply.ProjectTypeName}}</td>
                                    <td>
                                        <a ng-click="principalDetail(acceptApply)" data-target="#fzrInfo" data-toggle="modal">{{acceptApply.LeaderName}}</a>
                                    </td>
                                    <td>
                                        <a class="pdfDownload" ng-click="downloadPDF(acceptApply.ApplicationId,acceptApply.ProjectName)">下载</a>
                                    </td>
                                    <td>
                                        <span class="label label-primary" ng-if="acceptApply.Status == 8">待受理</span>
                                        <span class="label label-danger" ng-if="acceptApply.Status == 9">不受理</span>
                                        <span class="label label-default" ng-if="acceptApply.Status >= 10 && acceptApply.Status <= 12 ">待指派</span>
                                        <span class="label label-default" ng-if="acceptApply.Status == 13">评审中</span>
                                        <span class="label label-success" ng-if="acceptApply.Status == 14">评审结束</span>
                                        <span ng-if="acceptApply.Status == 15">不资助</span>
                                        <span ng-if="acceptApply.Status == 16">在库</span>
                                        <span ng-if="acceptApply.Status == 17">已出库</span>
                                        <span class="label label-default" ng-if="acceptApply.Status == 18">过期失效</span>
                                    </td>
                                    <td>
                                        <a class="manage-icon" ng-if="acceptApply.Status == 8" ng-click="showBackApplicationModal(acceptApply)" data-toggle="tooltip" data-placement="top" title="" data-original-title="撤回"><i class="fa fa-reply-all"></i></a>
                                        <span ng-if="(acceptApply.Status > 9 &&  acceptApply.Status < 14) || acceptApply.Status == 18">--</span>
                                        <a class="manage-icon" ng-if="acceptApply.Status == 9" ng-click="lookRejectReason(acceptApply)" data-toggle="tooltip" data-placement="top" title="" data-original-title="不受理理由"><i class="fa fa-ellipsis-h"></i></a>
                                        <a class="manage-icon" ng-if="acceptApply.Status >= 14 &&  acceptApply.Status < 18" ng-click="lookExpertReviews(acceptApply)" data-toggle="tooltip" data-placement="top" title="" data-original-title="评审意见"><i class="fa fa-gg"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="callout callout-info" ng-hide="!divisionAppliesIsNull" ng-cloak>
                            <h4>注意!</h4>

                            <p>当前没有任何已提交的申请书！</p>
                        </div>

						<!-- /.example1_wrapper -->
					</div>
				</div>
                <!-- box footer -->
                <div class="box-footer" ng-hide="divisionAppliesIsNull">
                    <!-- paging -->
                    <self-pagination></self-pagination>

                    <!-- /.box-footer -->
                </div>

                <div class="overlay" ng-hide="listAlready">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- box -->
			</div>

			<!-- /.container -->
		</div>

        <!-- 负责人fzrInfolModal-->
        <principal-detail></principal-detail>

        <!-- 查看院不受理原因信息bhInfoModal-->
        <div class="modal fade" id="bhInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">不受理信息</h3>
                    </div>
                    <div class="modal-body">
                        <h4>不受理理由：&nbsp;&nbsp;{{rejectReson.Comment}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- backApplicationModal -->
        <div class="modal fade" id="backApplication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">申请书撤回</h3>
                    </div>
                    <div class="modal-body">
                        <h4>确认要撤回此申请书吗？</h4>
                        <h5>注意：撤回后该申请书将退回至申请人处</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" ng-click="backApply(modalData.ApplicationId)">确定</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- 查看评审意见 -->
        <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title">专家评审意见</h3>
                    </div>
                    <div class="modal-body">

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="table-middle" style="min-width: 48px;">序号</th>
                                    <th style="min-width: 56px;">等级</th>
                                    <th style="min-width: 48px;">分数</th>
                                    <th style="min-width: 96px;">资助意见</th>
                                    <th style="min-width: 96px;">建议资助</th>
                                    <th>具体评价意见</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="review in reviewComments track by review.ReviewCommentId" ng-cloak>
                                    <td class="table-middle">{{$index +1}}</td>
                                    <td>
                                        <span class="text" ng-if="review.Level=='A'">{{review.Level}}、优</span>
                                        <span class="text" ng-if="review.Level=='B'">{{review.Level}}、良</span>
                                        <span class="text" ng-if="review.Level=='C'">{{review.Level}}、中</span>
                                        <span class="text" ng-if="review.Level=='D'">{{review.Level}}、差</span>
                                    </td>
                                    <td>
                                        <span class="text">{{review.Score}}分</span>
                                    </td>
                                    <td>
                                        <span class="text" ng-if="review.Imburse=='A'">{{review.Imburse}}、优先资助</span>
                                        <span class="text" ng-if="review.Imburse=='B'">{{review.Imburse}}、建议资助</span>
                                        <span class="text" ng-if="review.Imburse=='C'">{{review.Imburse}}、不予资助</span>
                                    </td>
                                    <td>
                                        <span class="text">{{review.Amount}}万</span>
                                    </td>
                                    <td>
                                        {{review.Comment}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.modal-body -->
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

	</body>

</html>