tbody a:hover{
	cursor: pointer;
}

#toolbar{
	margin-top: 16px;
}

.saved-table{
	margin-top: 16px;
	border: 2px;
	border-color: #000000;
}

.pdfDownload{
	color: #F39C12;
	font-weight: 600;
}

.table-left{
	text-align: left;
}

.table-middle{
	text-align: center;
}

.label-content{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.status-lable{
	width: 64px;	
}
