<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">文档</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <ul class="todo-list ui-sortable" ng-if="!docIsNull">
            <li ng-repeat="docPart in docData track by docPart.ProjectDocId">
                <span class="text">{{docPart.Name}}</span>
                <small class="label label-default" ng-if="docPart.Type == '1'"> 其他</small>
                <small class="label label-info" ng-if="docPart.Type == '0'"> 结题报告</small>

                <div class="pull-right">
                    <a ng-click="downloadDoc(docPart.ProjectDocId,docPart.Name)">
                        <i class="fa fa-download" data-toggle="tooltip" data-placement="top" title="" data-original-title="下载"></i>
                    </a>
                </div>

            </li>
        </ul>

    </div>
    <!-- /.box-body -->
    <!--<div class="box-footer text-center" ng-hide="docIsNull" ng-click=" showAllDocument = !showAllDocument">
        <a href="javascript:void(0)" class="uppercase" ng-show="!showAllDocument">查看所有文档 &nbsp;<i class="fa fa-angle-double-down"></i> </a>
        <a href="javascript:void(0)" class="uppercase" ng-show="showAllDocument">收起 &nbsp;<i class="fa fa-angle-double-up"></i> </a>
    </div>-->

    <div class="callout callout-info" ng-show="docIsNull">
        <h4>注意!</h4>

        <p>当前没有任何文档！</p>
    </div>
    <!-- /.box-footer -->
</div>