<!DOCTYPE html>
<html ng-app="ngProjectHostApp">
<head>
    <meta charset="UTF-8">
    <title></title>


    <script type="text/javascript" src="js/Service/publicFunction.js"></script>

    <link rel="stylesheet" href="css/Views/proposer/project_host.css" />

</head>
<body ng-controller="ngProjectHostCtrl">



    <div class="container">

        <br />
        <ol class="breadcrumb">
            <li>
                <a><i class="fa fa-dashboard"></i> 项目申请</a>
            </li>
            <li>
                <a>我的项目</a>
            </li>
            <li class="active">我主持的项目</li>
        </ol>

        <div class="box box-solid">
            <div class="box-header ui-sortable-handle bg-green">
                <i class="ion ion-clipboard"></i>

                <h3 class="box-title">正在主持的项目</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-success btn-sm" ng-click="refresh()" data-toggle="tooltip" data-placement="top" title="" data-original-title="刷新"><i class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">


                <div class="warningMsg" ng-if="hostProjectList.length == 0">
                    <div class="callout callout-warning">
                        <h4>注意!</h4>

                        <p>您当前还没有主持的项目！</p>
                    </div>
                </div>


                <div class="projectInfoBody" ng-repeat="hostProjectInfo in hostProjectList">

                    <ul class="todo-list ui-sortable">

                        <li>
                            <!-- todo text -->
                            <span class="text"> {{hostProjectInfo.Name}}</span>
                            <small class="label label-danger"><i class="fa fa-user"></i> 负责人</small>
                            <small class="label label-success"><i class="fa fa-clock-o"></i> {{hostProjectInfo.StartDate | date:'yyyy-MM-dd'}}</small>
                            <small class="label label-success"><i class="fa fa-clock-o"></i> {{hostProjectInfo.EndDate | date:'yyyy-MM-dd'}}</small>
                            <small class="label" ng-class="{'label-warning': hostProjectInfo.Status == 2 || hostProjectInfo.Status == 4, 'label-danger':hostProjectInfo.Status == 3 || hostProjectInfo.Status == 5, 'label-success': hostProjectInfo.Status == 0 || hostProjectInfo.Status == 1}"><i class="fa" ng-class="{'fa-exclamation-triangle': hostProjectInfo.Status == 2 || hostProjectInfo.Status == 4, 'fa-times':hostProjectInfo.Status == 3 || hostProjectInfo.Status == 5, 'fa-check': hostProjectInfo.Status == 0 || hostProjectInfo.Status == 1}"></i> {{hostProjectInfo.Status | changeTaskStatus}}</small>

                            <!-- General tools such as edit or delete-->
                            <div class="tools pull-right">
                                <i class="fa fa-check-square-o" ng-if="hostProjectInfo.Status == 0 || hostProjectInfo.Status == 3 || hostProjectInfo.Status == 5" ng-click="finishProjcet(hostProjectInfo.ProjectId)" data-toggle="tooltip" data-placement="top" title="" data-original-title="结题"></i>
                                <i class="fa fa-users pull-right manageLable" ng-click="showMemberModal(hostProjectInfo.Leader, hostProjectInfo.HostDepartMembers, hostProjectInfo.OtherDepartMembers)" data-toggle="tooltip" data-placement="top" title="" data-original-title="查看人员"></i>
                            </div>

                        </li>
                    </ul>

                    <br />

                    <div class="btn-group">
                        <a class="btn changeItemBtn" ng-class="{'active': selectProjectBody == 'assignmentBook'}" ng-click="switchProjectBody('assignmentBook')">任务书</a>
                        <a class="btn changeItemBtn" ng-class="{'active': selectProjectBody == 'projectFile'}" ng-click="switchProjectBody('projectFile');  uploadFile.id = hostProjectInfo.ProjectId">文档</a>
                    </div>

                    <div class="warningMsg">
                        <div class="callout callout-warning" ng-if="hostProjectInfo.AnnualTasks.length == 0">
                            <h4>注意!</h4>

                            <p>您需要尽快填写本年度的年度任务书。</p>
                        </div>
                    </div>

                    <div class="hostProjectBody">
                        <div class="assignmentBook" ng-show="selectProjectBody == 'assignmentBook'">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">任务书</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <ul class="products-list product-list-in-box" ng-repeat="assignmentBook in hostProjectInfo.AnnualTasks">
                                        <li class="item">
                                            <div class="product-info">
                                                <p style="color: #3c8dbc" class="product-title">
                                                    {{assignmentBook.Name}}
                                                    <i class="fa fa-dollar pull-right manageLable" ng-if="assignmentBook.Status != 0" ng-click="showBudgetModal(assignmentBook.AnnualTaskId)" data-toggle="tooltip" data-placement="top" title="" data-original-title="查看经费"></i>
                                                    <i class="fa fa-download pull-right manageLable" ng-click="downloadYearReport(assignmentBook.AnnualTaskId)" ng-if="assignmentBook.Status >= 6" data-toggle="tooltip" data-placement="top" title="" data-original-title="年度报告下载"></i>
                                                    <i class="fa fa-download pull-right manageLable" ng-click="downloadPDF(assignmentBook.AnnualTaskId, assignmentBook.Name)" ng-if="assignmentBook.Status != 0" data-toggle="tooltip" data-placement="top" title="" data-original-title="PDF下载"></i>
                                                    <i class="fa fa-edit pull-right manageLable" ng-if="assignmentBook.Status == 0 || assignmentBook.Status == 2 || assignmentBook.Status == 4" ng-click="jumpToEditPage(assignmentBook.AnnualTaskId, hostProjectInfo.ProjectId)" data-toggle="tooltip" data-placement="top" title="" data-original-title="填报任务书"></i>
                                                    <i class="fa fa-edit pull-right manageLable" ng-if="assignmentBook.Status == 5 || assignmentBook.Status == 7 || assignmentBook.Status == 9" ng-click="uploadFile.id = assignmentBook.AnnualTaskId;uploadFile.type = 'yearReport';" ngf-select="uploadFiles($files, $invalidFiles)" ngf-pattern="'.docx'" data-toggle="tooltip" data-placement="top" title="" data-original-title="填报年度报告"></i>
                                                </p>
                                                <span class="product-description">
                                                    <span class="label label-info"><i class="fa fa-clock-o"></i> {{assignmentBook.EditTime | date:'yyyy-MM-dd'}}</span>
                                                    <span class="label"
                                                          ng-class="{
                                                                'label-warning': assignmentBook.Status == 1 || assignmentBook.Status == 3 || assignmentBook.Status == 6 || assignmentBook.Status == 8,
                                                                'label-danger': assignmentBook.Status == 2 || assignmentBook.Status == 4 || assignmentBook.Status == 7 || assignmentBook.Status == 9,
                                                                'label-success': assignmentBook.Status == 0 || assignmentBook.Status == 5 || assignmentBook.Status == 10}"><i class="fa fa-check"></i>{{assignmentBook.Status | changeAnnualTaskStatus}}</span>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>

                        <div class="projectFile" ng-show="selectProjectBody == 'projectFile'">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">文档</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" ng-click="showFileUploadModal()">
                                            <i class="fa fa-upload"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    <div class="warningMsg" ng-if="hostProjectInfo.Docs.length == 0">
                                        <div class="callout callout-warning">
                                            <h4>注意!</h4>

                                            <p>当前项目还没有已经上传的文档！</p>
                                        </div>
                                    </div>

                                    <ul class="products-list product-list-in-box">
                                        <li class="item" ng-repeat="file in hostProjectInfo.Docs">
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">
                                                    {{file.Name}}
                                                    <!--<i class="fa fa-remove pull-right manageLable" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"></i>-->
                                                    <i class="fa fa-download pull-right manageLable" ng-if="file.Type == 1" ng-click="downloadDoc(file.ProjectDocId, file.Name)" data-toggle="tooltip" data-placement="top" title="" data-original-title="下载"></i>
                                                    <i class="fa fa-download pull-right manageLable" ng-if="file.Type == 0" ng-click="downloadEndReport(file.ProjectDocId, file.Name)" data-toggle="tooltip" data-placement="top" title="" data-original-title="下载"></i>
                                                </a>
                                                <span class="product-description">
                                                    <span class="label label-info">{{file.Type | changeFileType}}</span>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>

        <br />
        <br />

        <div class="box box-solid">
            <div class="box-header ui-sortable-handle bg-primary">
                <i class="ion ion-clipboard" style="color: white;"></i>

                <h3 class="box-title" style="color: white;">已结题项目</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="warningMsg" ng-if="finishedProjectList.length == 0">
                    <div class="callout callout-warning">
                        <h4>注意!</h4>

                        <p>当前项目还没有已结题的项目！</p>
                    </div>
                </div>

                <ul class="todo-list ui-sortable">

                    <li ng-repeat="finishedProject in finishedProjectList">
                        <!-- todo text -->
                        <span class="text">{{finishedProject.Name}}</span>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> {{finishedProject.StartDate | date:'yyyy-MM-dd'}}</small>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> {{finishedProject.EndDate | date:'yyyy-MM-dd'}}</small>

                        <!-- General tools such as edit or delete-->
                        <div class="tools pull-right">
                            <i class="fa fa-search" ng-click="showProjectInfo(finishedProject)" data-toggle="tooltip" data-placement="top" title="" data-original-title="详细信息"></i>
                        </div>
                    </li>

                </ul>

            </div>
        </div>


    </div>


    <!--memberModal-->
    <div class="modal fade" id="memberDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">人员详情</h3>
                </div>
                <div class="modal-body">
                    
                    <h2>主持单位人员</h2>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>ID</th>
                                <th>责任分工</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- style="background-color:#d0f8ce"-->
                            <tr style="font-weight:bolder">
                                <td>{{memberList.Leader.PersonName}}</td>
                                <td>{{memberList.Leader.UserName}}</td>
                                <td>{{memberList.Leader.Task}}</td>
                            </tr>
                            <tr ng-repeat="member in memberList.HostDepartMember">
                                <td>{{member.PersonName}}</td>
                                <td>{{member.UserName}}</td>
                                <td>{{member.Task}}</td>
                            </tr>
                            
                        </tbody>
                    </table>

                    <br />
                    <br />

                    <h2>协作单位人员</h2>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>ID</th>
                                <th>单位</th>
                                <th>责任分工</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="member in memberList.OtherDepartMember">
                                <td>{{member.PersonName}}</td>
                                <td>{{member.UserName}}</td>
                                <td>{{member.InstituteName}}</td>
                                <td>{{member.Task}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!--budgetModal-->
    <div class="modal fade" id="budgetDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">经费详情</h3>
                </div>
                <div class="modal-body">

                    <h2>科目经费预算</h2>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>科目</th>
                                <th>预算（万元）</th>
                                <th>依据与说明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="budget in budgetList">
                                <td>{{budget.SubjectName}}</td>
                                <td>{{budget.Amount}}</td>
                                <td>{{budget.Reason}}</td>
                            </tr>
                            <tr style="font-weight:bolder">
                                <td>总经费</td>
                                <td>{{yearTotalBudget}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    <br />

                    <h2>各单位经费预算</h2>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>单位名称</th>
                                <th>本年度经费</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="instBudget in instBudgetList">
                                <td>{{instBudget.InstituteName}}</td>
                                <td>{{instBudget.Amount}}</td>
                            </tr>
                            <tr style="font-weight:bolder">
                                <td>总经费</td>
                                <td>{{instTotalBudget}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 项目具体信息 projectDetailModal-->
    <div class="modal fade" id="projectDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">项目具体信息</h3>
                </div>
                <div class="modal-body">

                    <tabs active="0">
                        <tab label=" 基本信息">
                            <br />
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">项目名称</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{projectData.Name}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">执行期限</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{projectData.Period}}年</p>
                                    </div>
                                    <!--<span class="col-sm-10">{{projectData.Period}}年</span>-->
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">类型</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{projectData.ProjectTypeName}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">起止日期</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{projectData.StartDate | date:"yyyy-MM-dd"}} - {{projectData.EndDate | date:"yyyy-MM-dd"}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">总预算</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{projectData.TotalBudget}}万</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">定向类型</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{projectData.DelegateType}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">状态</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" ng-if="projectData.Status == 0">在研</p>
                                        <p class="form-control-static" ng-if="projectData.Status == 1">结题</p>
                                    </div>
                                </div>

                            </form>
                        </tab>
                        <tab label=" 项目成员">
                            <br />
                            <h4>主持单位人员</h4>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>单位</th>
                                        <th>责任分工</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>{{projectData.Leader.PersonName}}</strong></td>
                                        <td><strong>{{projectData.Leader.InstituteName}}</strong></td>
                                        <td><strong>{{projectData.Leader.Task}}</strong></td>
                                    </tr>
                                    <tr ng-repeat="hostMem in projectData.HostDepartMembers track by $index">
                                        <td>{{hostMem.PersonName}}</td>
                                        <td>{{hostMem.InstituteName}}</td>
                                        <td>{{hostMem.Task}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <h4>外协单位人员</h4>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>单位</th>
                                        <th>责任分工</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="otherMem in projectData.OtherDepartMembers track by $index">
                                        <td>{{otherMem.PersonName}}</td>
                                        <td>{{otherMem.InstituteName}}</td>
                                        <td>{{otherMem.Task}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab label=" 项目文件">

                            <br />
                            <project-file></project-file>

                        </tab>
                        <tab label=" 任务书">
                            <br />

                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h4 class="box-title">项目任务书</h4>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">

                                    <ul class="todo-list ui-sortable">
                                        <li ng-repeat="task in projectData.AnnualTasks track by task.AnnualTaskId">
                                            <span class="text">{{task.Name}}</span>
                                            <small class="label label-info"><i class="fa fa-clock-o"></i> {{task.EditTime | date:"yyyy-MM-dd"}}</small>
                                            <small class="label label-primary" ng-if="task.Status == 1">待审核</small>
                                            <small class="label label-danger" ng-if="task.Status == 2 || task.Status == 4">已驳回</small>
                                            <small class="label label-success" ng-if="task.Status == 3">已提交</small>
                                            <small class="label label-success" ng-if="task.Status == 10">审核通过</small>
                                            <div class="pull-right">
                                                <a class="pdfDownload" ng-click="downloadPDF(task.AnnualTaskId,task.Name)">
                                                    <i class="fa fa-download" data-toggle="tooltip" data-placement="top" title="" data-original-title="下载"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->

                        </tab>
                    </tabs>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--uploadModal-->
    <div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">附件上传</h3>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="fileSelect">文档类型</label>
                            <div class="col-lg-9">
                                <select id="fileSelect" class="form-control" ng-model="uploadFile.type">
                                    <option value="" selected="selected" disabled>----选择附件类型----</option>
                                    <option value="finalReport">结题报告</option>
                                    <option value="other">其它</option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div ng-if="uploadFile.type == 'finalReport'">
                        <a class="btn btn-primary" ngf-select="uploadFiles($files, $invalidFiles)" ngf-pattern="'.docx'">选择文件</a>
                        <br />
                        <ul>
                            <li ng-repeat="f in files" style="font:small">
                                {{f.name}} &nbsp;&nbsp;&nbsp;{{f .progress;}}%
                            </li>
                            <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}}&nbsp;&nbsp;错误：{{f.$error}}{{f.$errorParam}}</li>
                            <p style="color:red">{{showErrorMsg}}</p>
                        </ul>
                    </div>

                    <div ng-if="uploadFile.type == 'other'">
                        <a class="btn btn-primary" ngf-select="uploadFiles($files, $invalidFiles)">选择文件</a>
                        <br />
                        <ul>
                            <li ng-repeat="f in files" style="font:small">
                                {{f.name}} &nbsp;&nbsp;&nbsp;{{f .progress;}}%
                            </li>
                            <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}}&nbsp;&nbsp;错误：{{f.$error}}{{f.$errorParam}}</li>
                            <p style="color:red">{{showErrorMsg}}</p>
                        </ul>
                    </div>

                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!--uploadModal-->
    <div class="modal fade" id="checkSubmitProjectFinishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">确认结题</h3>
                </div>
                <div class="modal-body">

                   <p>您填报或上传的内容尚未满足结题的要求，请确认您是否需要结题！</p>

                    <br />

                   <p>您当前已填写的任务书有 {{submitProjectFinishInfo.AnnualTasks.length}} 封</p>

                    <ul class="todo-list ui-sortable" ng-if="submitProjectFinishInfo.AnnualTasks.length != 0">

                        <li ng-repeat="hostProjectInfo in submitProjectFinishInfo.AnnualTasks">
                            <!-- todo text -->
                            <span class="text"> {{hostProjectInfo.Name}}</span>
                        </li>
                    </ul>

                    <br />

                    <p>您当前已上传的文档有 {{submitProjectFinishInfo.Docs.length}} 个</p>

                    <p ng-show="submitProjectFinishInfo.Docs.length == 0" style="color:red">请确认您已上传了结题报告！！</p>

                    <ul class="products-list product-list-in-box" ng-if="submitProjectFinishInfo.Docs.length != 0">
                        <li class="item" ng-repeat="file in submitProjectFinishInfo.Docs">
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">
                                    {{file.Name}}
                                </a>
                                <span class="product-description">
                                    <span class="label label-info"><i class="fa fa-clock-o"></i> {{file.Type | changeFileType}}</span>
                                </span>
                            </div>
                        </li>
                    </ul>

                    <br />

                   <p>如果您强制结题，则产生的后果将由您个人负责。</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submitFinishProject()">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!--uploadModal-->
    <div class="modal fade" id="submitProjectFinishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">结题</h3>
                </div>
                <div class="modal-body">

                    您确定要申请该项目的结题吗？

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submitFinishProject()">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</body>
</html>
