<!DOCTYPE html>
<html ng-app="ngPasswordChangeApp">
	<head>
		<meta charset="UTF-8">
		<title></title>

        <link href="css/Views/setting/password_change.css" rel="stylesheet" />

	</head>
	<body ng-controller="ngPasswordChangeCtrl">

        <div class="container">
            <br />
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> 信息与设置
                </li>
                <li>
                    设置
                </li>
                <li class="active">修改密码</li>
            </ol>
            <br />
            <div class="box box-solid">
                <div class="box-header ui-sortable-handle bg-green">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">修改密码</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <form class="form-horizontal" name="changePasswordForm" novalidate>
                                <div class="form-group" ng-class="{true:'has-error'}[changePasswordForm.orignPassword.$dirty && changePasswordForm.orignPassword.$invalid]">
                                    <label for="orignPassword" class="col-lg-3 control-label">原密码</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control" name="orignPassword" id="orignPassword" placeholder="原密码" ng-model="changePassword.OldPassword" required>
                                        <div ng-show="changePasswordForm.orignPassword.$dirty && changePasswordForm.orignPassword.$invalid" style="width: 100%">
                                            <small class="error" ng-show="changePasswordForm.orignPassword.$error.required">原密码不能为空</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{true:'has-error'}[changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid]">
                                    <label for="newPassword" class="col-lg-3 control-label">新密码</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="新密码" ng-model="changePassword.NewPassword" required>
                                        <div ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid" style="width: 100%">
                                            <small class="error" ng-show="changePasswordForm.newPassword.$error.required">新密码不能为空</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{true:'has-error'}[((changePasswordForm.newPasswordAgain.$dirty && changePasswordForm.newPasswordAgain.$invalid)||((changePassword.NewPassword != changePassword.RepeatPassword)&&(changePassword.RepeatPassword != null)))]">
                                    <label for="newPasswordAgain" class="col-lg-3 control-label">再次输入新密码</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control" name="newPasswordAgain" id="newPasswordAgain" placeholder="再次输入新密码" ng-model="changePassword.RepeatPassword" required>
                                        <div ng-show="((changePasswordForm.newPasswordAgain.$dirty && changePasswordForm.newPasswordAgain.$invalid)||(changePasswordForm.newPassword.$dirty && changePasswordForm.newPasswordAgain.$dirty &&(changePassword.NewPassword != changePassword.RepeatPassword)))" style="width: 100%">
                                            <small class="error" ng-show="changePasswordForm.newPasswordAgain.$dirty && changePasswordForm.newPasswordAgain.$error.required">再次输入的密码不能为空</small>
                                            <br />
                                            <small class="error" ng-show="(changePassword.NewPassword != changePassword.RepeatPassword)&&(changePassword.RepeatPassword != null)">两次输入的密码不一致</small>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary pull-right" ng-click="updataPassword()" ng-disabled="(changePasswordForm.$invalid || (changePassword.NewPassword != changePassword.RepeatPassword))">保存</button>
                            </form>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>

	</body>
</html>
