<!DOCTYPE html>
<html ng-app="ngReviewApp">

<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- 自定义样式 -->
    <link rel="stylesheet" href="css/Views/Expert/ApplicationReview/preReview.css" />

    <script type="text/javascript" src="js/underscore.js"></script>

</head>

<body ng-controller="ngReviewCtrl">

    <div class="container">

        <!-- 面包屑导航 -->
        <br />
        <ol class="breadcrumb">
            <li>
                <a><i class="fa fa-dashboard"></i> 专家评议</a>
            </li>
            <li> <span>待评审申请书</span></li>
        </ol>

        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-warning"></i> 注意！</h4>
            <p>阅读评分说明，<a style="color:blue;" data-toggle="tooltip" data-placement="top" title="" data-original-title="查看说明" ng-click="init()">单击此处</a>，阅读完毕后再进行申请书评审</p>
        </div>

        <!-- 初审评议申请书列表 -->
        <div class="box box-primary">
            <!-- box header -->
            <div class="box-header ui-sortable-handle with-border">
                <i class="ion ion-clipboard"></i>

                <h3 class="box-title">待评审申请书列表</h3>

                <div class="box-tools pull-right">
                    <a class="load-icon" data-widget="collapse" data-toggle="tooltip" data-placement="top" title="" data-original-title="折叠"><i class="fa fa-minus"></i></a>
                </div>
                <!-- /.box-header -->
            </div>

            <!-- box body -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <br />

                    <!-- toolbar-->
                    <div class="row" ng-hide="AppliesIsNull" ng-cloak>
                        <div class="form-group" style="margin-left: 16px;">
                            <span>打开PDF口令为：</span><span class="text-primary" style="font-size:16px;">{{PDFpassword}}</span>
                        </div>
                        <div class="form-group" style="float:right;margin-right:5vw;">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#OnlineBatchReviewModal">批量评审</button>
                        </div>
                        <div class="form-group" style="float:right;margin-right:2vw;">
                            <button class="btn btn-primary" ng-click="packageDownload()">批量下载</button>
                        </div>
                    </div>

                    <br />

                    <table id="cspyTable" class="table" ng-hide="AppliesIsNull">
                        <thead>
                            <tr>
                                <th>
                                    
                                </th>
                                <th style="min-width: 48px;">序号</th>
                                <th>名称</th>
                                <th style="min-width: 104px;">类别</th>
                                <th style="min-width: 64px;">负责人</th>
                                <th style="min-width: 48px;">部门</th>
                                <th style="min-width: 72px; ">执行年份</th>
                                <th style="min-width: 72px;">评议状态</th>
                                <th style="min-width: 48px;">全文</th>
                                <th style="min-width: 72px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reviewApply in reviewApplies track by $index" ng-cloak>
                                <td><input type="checkbox" ng-checked="exists(reviewApply, $parent.reviewApplySelected)!= -1" ng-click="toggle(reviewApply, $parent.reviewApplySelected)" /></td>
                                <td>{{$index + 1}}</td>
                                <td>
                                    {{reviewApply.ProjectName}}
                                </td>
                                <td>{{reviewApply.ProjectTypeName}}</td>
                                <td>{{reviewApply.LeaderName}}</td>
                                <td>{{reviewApply.InstititeName}}</td>
                                <td>{{reviewApply.Year}}年</td>
                                <td>
                                    <span ng-show="reviewApply.Status <= 5" class="label label-primary">待评审</span>
                                    <span ng-show="reviewApply.Status == 6" class="label label-success">已评审</span>
                                </td>
                                <td>
                                    <a class="pdfDownload" ng-click="downloadPDF(reviewApply.ApplicationId,reviewApply.ProjectName)">下载</a>
                                </td>
                                <td>
                                    <a class="manage-icon" ng-click="showReviewModal(reviewApply);initLevel();" data-toggle="tooltip" data-placement="top" title="" data-original-title="在线评议"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="callout callout-info" ng-hide="!AppliesIsNull" ng-cloak>
                        <h4>注意!</h4>

                        <p>当前没有任何待评审的申请书！</p>
                    </div>
                </div>
                <!-- End(box-body) -->
            </div>

            <div class="overlay" ng-hide="listAlready">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <!-- /.box -->
        </div>


        <!-- 在线评议Modal -->
        <div class="modal" id="onlineReviewModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">在线评议表</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" name="OnlineForm" novalidate>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 48px">必填</th>
                                        <th class="text-center" style="width: 144px">评议指标</th>
                                        <th class="text-center">评议指标选项</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <font style="color: red;">*</font>
                                        </td>
                                        <td class="text-center">评审分数：</td>
                                        <td class="text-left">
                                            <div class="form-inline" ng-class="{true:'has-error'}[OnlineForm.Score.$error.pattern || (isOnlineFormSubmit && OnlineForm.Score.$error.required)]">
                                                <input name="Score"
                                                       class="form-control"
                                                       type="text"
                                                       id="Score"
                                                       style="text-align:right"
                                                       ng-model="formData.Score"
                                                       ng-pattern="/^100$|^(\d|[1-9]\d)$/"
                                                       ng-change="judgeScore()"
                                                       autocomplete="off"
                                                       required />
                                                <span style="margin-left:8px;">分</span>
                                            </div>
                                            <div ng-messages="OnlineForm.Score.$error">
                                                <div class="error" ng-show="isOnlineFormSubmit" ng-message="required">不能为空</div>
                                                <div class="error" ng-message="pattern">评审分数范围为0-100，且为整数</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font style="color: red;">*</font>
                                        </td>
                                        <td class="text-center">
                                            <span>评审等级：</span>
                                        </td>
                                        <td class="text-left">
                                            <div class="form-inline">
                                                <div class="radio">
                                                    <label>
                                                        <input name="Level"
                                                               value="A"
                                                               type="radio"
                                                               id="radioA"
                                                               ng-model="formData.Level"
                                                               ng-checked="formData.Level"
                                                               disabled
                                                               required />
                                                        A、优
                                                    </label>
                                                </div>
                                                <div class="radio" style="margin-left:16px;">
                                                    <label>
                                                        <input name="Level"
                                                               value="B"
                                                               type="radio"
                                                               id="radioB"
                                                               ng-model="formData.Level"
                                                               ng-checked="formData.Level"
                                                               disabled
                                                               required />
                                                        B、良
                                                    </label>
                                                </div>
                                                <div class="radio" style="margin-left:16px;">
                                                    <label>
                                                        <input name="Level"
                                                               value="C"
                                                               type="radio"
                                                               id="radioC"
                                                               ng-model="formData.Level"
                                                               ng-checked="formData.Level"
                                                               disabled
                                                               required />
                                                        C、中
                                                    </label>
                                                </div>
                                                <div class="radio" style="margin-left:16px;">
                                                    <label>
                                                        <input name="Level"
                                                               value="D"
                                                               type="radio"
                                                               id="radioD"
                                                               ng-model="formData.Level"
                                                               ng-checked="formData.Level"
                                                               disabled
                                                               required />
                                                        D、差
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font style="color: red;">*</font>
                                        </td>
                                        <td class="text-center">
                                            <span>资助意见属性：</span>
                                        </td>
                                        <td class="text-left">
                                            <div class="form-inline">
                                                <div class="radio">
                                                    <label>
                                                        <input name="Imburse"
                                                               value="A"
                                                               type="radio"
                                                               id="attr_adioA"
                                                               ng-model="formData.Imburse"
                                                               ng-checked="formData.Imburse"
                                                               required />
                                                        A、优先资助
                                                    </label>
                                                </div>
                                                <div class="radio" style="margin-left:16px;">
                                                    <label>
                                                        <input name="Imburse"
                                                               value="B"
                                                               type="radio"
                                                               id="attr_radioB"
                                                               ng-model="formData.Imburse"
                                                               ng-checked="formData.Imburse"
                                                               required />
                                                        B、建议资助
                                                    </label>
                                                </div>
                                                <div class="radio" style="margin-left:16px;">
                                                    <label>
                                                        <input name="Imburse"
                                                               value="C"
                                                               type="radio"
                                                               id="attr_radioC"
                                                               ng-model="formData.Imburse"
                                                               ng-checked="formData.Imburse"
                                                               ng-change="notSubsidize()"
                                                               required />
                                                        C、不予资助
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font style="color: red;">*</font>
                                        </td>
                                        <td class="text-center">建议资助：</td>
                                        <td class="text-left">
                                            <div class="form-inline" ng-class="{true:'has-error'}[OnlineForm.Amount.$error.pattern || (isOnlineFormSubmit && OnlineForm.Amount.$error.required)]">
                                                <input name="Amount"
                                                       class="form-control"
                                                       type="text"
                                                       style="text-align:right"
                                                       ng-model="formData.Amount"
                                                       ng-pattern="/^\d+(\.\d{1,2})?$/"
                                                       ng-disabled="formData.Imburse == 'C'"
                                                       autocomplete="off"
                                                       required />
                                                <span style="margin-left:8px;">万元</span>
                                            </div>
                                            <div ng-messages="OnlineForm.Amount.$error">
                                                <div class="error" ng-show="isOnlineFormSubmit" ng-message="required">不能为空</div>
                                                <div class="error" ng-message="pattern">资助金额填写不规范（数字保留至小数点后两位）</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font style="color: red;">*</font>
                                        </td>
                                        <td class="text-center">
                                            <span>具体评价意见：</span>
                                        </td>
                                        <td>
                                            <div class="form-inline">
                                                <textarea name="Comment"
                                                          class="form-control"
                                                          rows="7"
                                                          style="resize: none;width:100%"
                                                          ng-model="formData.Comment"
                                                          required
                                                          placeholder="按所评议项目的相关评议要点提纲填写，对同意资助的项目，要着重指出其创新点和研究价值；对不同意自不同意资助的项目，要说明具体理由"></textarea>
                                                <div ng-messages="OnlineForm.Comment.$error">
                                                    <div class="error" ng-show="isOnlineFormSubmit" ng-message="required">不能为空</div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <div class="col-sm-7 pull-right">
                                    <button type="button" class="btn btn-primary " style="width:120px" ng-click="onlineReviewSubmit()">提交</button>
                                    <button type="button" class="btn btn-default " style="width:120px" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <!-- 批量评审Modal -->
        <div class="modal" id="OnlineBatchReviewModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">在线评议表</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" name="BatchOnlineForm" novalidate>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">序号</th>
                                        <th class="text-center">名称</th>
                                        <th class="text-center">评审分数</th>
                                        <th class="text-center">评审等级</th>
                                        <th class="text-center">资助意见</th>
                                        <th class="text-center">资助金额</th>
                                        <th class="text-center">评价意见</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="reviewApply in reviewApplySelected track by $index" ng-cloak>
                                        <td class="text-center" style="vertical-align: middle; width:10px;">
                                            {{$index + 1}}
                                        </td>
                                        <td class="text-center" style="vertical-align: middle; width: 200px;">
                                            {{reviewApply.ProjectName}}
                                        </td>
                                        <td class="text-left" style="vertical-align: middle; width: 105px;">
                                            <div class="form-inline" ng-class="{true:'has-error'}[BatchOnlineForm.Score_{{$index}}.$error.pattern || (isBatchOnlineFormSubmit && BatchOnlineForm.Score_{{$index}}.$error.required)]">
                                                <div class="input-group">
                                                    <input name="Score_{{$index}}"
                                                           class="form-control "
                                                           type="text"
                                                           id="Score"
                                                           ng-model="reviewApply.Score"
                                                           ng-pattern="/^100$|^(\d|[1-9]\d)$/"
                                                           ng-change="judgeScore()"
                                                           autocomplete="off"
                                                           required />
                                                    <div class="input-group-addon">分</div>
                                                </div>
                                            </div>
                                            <!--<div ng-messages="BatchOnlineForm.Score.$error">
                                                <div class="error" ng-show="isBatchOnlineFormSubmit" ng-message="required">不能为空</div>
                                                <div class="error" ng-message="pattern">评审分数范围为0-100，且为整数</div>
                                            </div>-->
                                            <div>
                                                <div class="error" ng-show="BatchOnlineForm.Score_{{$index}}.$error && isBatchOnlineFormSubmit && BatchOnlineForm.Score_{{$index}}.$error.required">不能为空</div>
                                                <div class="error" ng-show="BatchOnlineForm.Score_{{$index}}.$error && BatchOnlineForm.Score_{{$index}}.$error.pattern">评审分数范围为0-100，且为整数</div>
                                            </div>
                                        </td>
                                        <td class="text-center" style="vertical-align: middle; width: 50px;">
                                            <div class="form-inline">
                                                {{reviewApply.Score | changeScoreToLevel}}
                                            </div>
                                        </td>
                                        <td class="text-left" style="vertical-align: middle;" ng-class="{true:'has-error'}[(isBatchOnlineFormSubmit && BatchOnlineForm.Imburse_{{$index}}.$error.required)]">
                                            <div class="form-inline">
                                                <select ng-model="reviewApply.Imburse">
                                                    <option value="" disabled>--请选择--</option>
                                                    <option value="A" ng-selected="reviewApply.Imburse == 'A'">优先资助</option>
                                                    <option value="B" ng-selected="reviewApply.Imburse == 'B'">建议资助</option>
                                                    <option value="C" ng-selected="reviewApply.Imburse == 'C'">不予资助</option>
                                                </select>
                                            </div>
                                            <div>
                                                <div class="error" ng-show="reviewApply.Imburse != 'A' && reviewApply.Imburse != 'B' && reviewApply.Imburse != 'C' && isBatchOnlineFormSubmit">不能为空</div>
                                            </div>
                                        </td>
                                        <td class="text-left" style="vertical-align: middle; width: 120px;">
                                            <div class="form-inline" ng-class="{true:'has-error'}[BatchOnlineForm.Amount_{{$index}}.$error.pattern || (isBatchOnlineFormSubmit && BatchOnlineForm.Amount_{{$index}}.$error.required)]">
                                                <div class="input-group">
                                                    <input name="Amount_{{$index}}"
                                                           class="form-control"
                                                           type="text"
                                                           ng-init="reviewApply.Amount = 0"
                                                           ng-model="reviewApply.Amount"
                                                           ng-pattern="/^\d+(\.\d{1,2})?$/"
                                                           ng-disabled="reviewApply.Imburse == 'C'"
                                                           autocomplete="off"
                                                           required />
                                                    <div class="input-group-addon">万元</div>
                                                </div>
                                            </div>
                                            <!--<div ng-messages="BatchOnlineForm.Amount_$index.$error">
                                                <div class="error" ng-show="isBatchOnlineFormSubmit" ng-message="required">不能为空</div>
                                                <div class="error" ng-message="pattern">资助金额填写不规范（数字保留至小数点后两位）</div>
                                            </div>-->
                                            <div>
                                                <div class="error" ng-show="BatchOnlineForm.Amount_{{$index}}.$error && isBatchOnlineFormSubmit && BatchOnlineForm.Amount_{{$index}}.$error.required && reviewApply.Imburse != 'C'">不能为空</div>
                                                <div class="error" ng-show="BatchOnlineForm.Amount_{{$index}}.$error && BatchOnlineForm.Amount_{{$index}}.$error.pattern">资助金额填写不规范（数字保留至小数点后两位）</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-inline">
                                                <textarea name="Comment_{{$index}}"
                                                          class="form-control"
                                                          rows="7"
                                                          style="resize: none; width: 260px;height:100px;"
                                                          ng-model="reviewApply.Comment"
                                                          required
                                                          placeholder="按所评议项目的相关评议要点提纲填写，对同意资助的项目，要着重指出其创新点和研究价值；对不同意自不同意资助的项目，要说明具体理由"></textarea>
                                                <!--<div ng-messages="BatchOnlineForm.Comment_$index.$error">
                                                    <div class="error" ng-show="isBatchOnlineFormSubmit" ng-message="required">不能为空</div>
                                                </div>-->
                                                <div>
                                                    <div class="error" ng-show="BatchOnlineForm.Comment_{{$index}}.$error && isBatchOnlineFormSubmit && BatchOnlineForm.Comment_{{$index}}.$error.required">不能为空</div>
                                                </div>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            
                            <div class="form-group">
                                <div class="col-sm-7 pull-right">
                                    <button type="button" class="btn btn-primary" style="width:100px" ng-click="onlineBatchReviewSubmit()">提交</button>
                                    <button type="button" class="btn btn-default" style="width:100px" data-dismiss="modal" ng-click="onlineBatchReviewCancle()">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- /.container-->
    </div>

    <div id="ruleDescriptionModal" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        提示
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>

                </div>
                <div class="modal-body">
                    <h4><b>评分说明总纲</b><a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('Total', scoreDescriptionfileList.Total)"><i class="fa fa-download"></i></a></h4>
                    <p>专家评审过程中，申请书评分等级：</p>
                    <b>A</b>——表示申请书质量优秀，具体一定的创新性，在对应的领域中需要投入研究，且内容完整规范，可行性较高，专家建议优先资助。专家打分90分（含）以上<br />
                    <b>B</b>——表示申请书质量良好，创新性一般，在对应的领域中探索性不强，风险较低，且内容完整规范，专家可建议资助。专家打分80分（含）以上90分以下<br />
                    <b>C</b>——表示申请书质量一般，创新性不强，在对应的领域中需要一定的探索性，风险较低，可以留作以后计划进行研究，专家不予资助。专家打分70分（含）以上80分以下<br />
                    <b>D</b>——表示申请书质量差，无创新，研究领域中探索性强，风险高，可行性较低，专家不予资助。专家打分70分以下<br />
                    <br />
                    <div class="row" ng-show="recessive">
                        <div class="col-sm-6">
                            <h4>联盟重点工作<a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('AllianceFocusWorkfileclass', scoreDescriptionfileList.AllianceFocusWorkfileclass)"><i class="fa fa-download"></i></a></h4>
                            <h4>应急性科研工作<a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('EmergencyResearchWorkfileclass', scoreDescriptionfileList.EmergencyResearchWorkfileclass)"><i class="fa fa-download"></i></a></h4>
                            <h4>科技基础性工作<a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('BasicScienceAndTechnologyWorkfileclass', scoreDescriptionfileList.BasicScienceAndTechnologyWorkfileclass)"><i class="fa fa-download"></i></a></h4>
                            <h4>基础研究引导计划<a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('BasicResearchGuidancePlanfileclass', scoreDescriptionfileList.BasicResearchGuidancePlanfileclass)"><i class="fa fa-download"></i></a></h4>
                        </div>
                        <div class="col-sm-6">
                            <h4>重大成果培育计划<a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('MajorResultsDevelopmentProgramfileclass', scoreDescriptionfileList.MajorResultsDevelopmentProgramfileclass)"><i class="fa fa-download"></i></a></h4>
                            <h4>重大平台推进计划<a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('MajorPlatformPromotionPlanfileclass', scoreDescriptionfileList.MajorPlatformPromotionPlanfileclass)"><i class="fa fa-download"></i></a></h4>
                            <h4>重大项目储备计划<a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('MajorProjectReservePlanfileclass', scoreDescriptionfileList.MajorProjectReservePlanfileclass)"><i class="fa fa-download"></i></a></h4>
                            <h4>农业智库建设计划<a class="btn btn-primary btn-sm pull-right" ng-click="downloadScoreDescription('AgriculturalThinkTankConstructionPlanfileclass', scoreDescriptionfileList.AgriculturalThinkTankConstructionPlanfileclass)"><i class="fa fa-download"></i></a></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--<div ng-init="init()"></div>-->
    <div id="blur" ng-hide="waitBlurIsHide">
        <div id="loading" ng-hide="waitBlurIsHide">Loading download...<i class="fa fa-refresh fa-spin"></i></div>
    </div>

</body>

</html>