<h5>经费预算表</h5>


<table class="table table-striped table-hover table-condensed" ng-init="FirstYearTotalAmount = 0">
    <thead>
        <tr>
            <th>科目</th>
            <th>经费预算（万元）</th>
            <th>简述预算测试依据与说明</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="yearAnnualBudgetItem in yearAnnualBudgetItems">
            <td>
                <span>
                    {{yearAnnualBudgetItem.SubjectName}}
                </span>
            </td>
            <td>
                <input class="form-control" type="number" ng-model="yearAnnualBudgetItem.Amount" ng-change="checkTotalBudget()" autofocus />
                <!--<span editable-number="yearAnnualBudgetItem.Amount" e-name="Amount" e-form="rowform">
                    {{yearAnnualBudgetItem.Amount | number:2}}
                </span>-->
            </td>
            <td>
                <input class="form-control" type="text" ng-model="yearAnnualBudgetItem.Reason" />
                <!--<span editable-text="yearAnnualBudgetItem.Reason" e-name="Reason" e-form="rowform">
                    {{yearAnnualBudgetItem.Reason}}
                </span>-->
            </td>
            <!--<td>
                <form editable-form name="rowform" onaftersave="putAnnualBudgetItemClick(yearAnnualBudgetItem)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == yearAnnualBudgetItem">
                    <button type="submit" class="btn btn-primary">
                        确定
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        取消
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <a href="" ng-click="rowform.$show()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改</a>
                    <a href="" ng-click="showDeleteAnnualBudgetItemModal(yearAnnualBudgetItem.AnnualTaskBudgetItemId);"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除</a>
                </div>
            </td>-->
        </tr>
        <!--<tr ng-keyup="enterPress($event)">
            <td>
                <select ng-model="addAnnualBudgetItem.SubjectCode" class="form-control" id="subjectCode" ng-options="subject.SubjectCode as subject.SubjectName for subject in subjects">
                    <option value="" disabled>请选择会计科目</option>
                </select>
            </td>
            <td>
                <input id="amount" type="number" class="form-control" ng-model="addAnnualBudgetItem.Amount" placeholder="金额" />
            </td>
            <td>
                <input id="assistPersonTask" class="form-control" ng-model="addAnnualBudgetItem.Reason" placeholder="预算测试依据与说明" />
            </td>
            <td>
                <a ng-click="addAnnualBudgetItemClick()"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>添加</a>
            </td>
        </tr>-->
        <tr>
            <td>总经费</td>
            <td>{{yearTotalBudget | number:2}}  (总经费 <span style="color: blue">{{$root.yearBudget | number:2}}</span> 万元,当前已分配 <span style="color: blue">{{yearTotalBudget | number:2}}</span> 万元，剩余 <span ng-class="{true:'success',false:'error'}[($root.yearBudget - yearTotalBudget) >= 0]">{{$root.yearBudget - yearTotalBudget | number:2}}</span> 万元)</td>
            <td>
                <a class="btn btn-primary" ng-click="putAnnualBudgetItemClick()">修改</a>
            </td>
        </tr>
    </tbody>
</table>

<!--<h5 ng-show="yusuanYear == 1">当前总经费<span style="color:blue"> {{$root.TotalBudget | number:2}} </span>万元，本年度经费<span style="color:blue"> {{$root.FirstYearBudget | number:2}} </span>万元，首年度尚未分配经费<span ng-class="{true:'success',false:'error'}[($root.FirstYearBudget - yearTotalBudget) >= 0]"> {{$root.FirstYearBudget - yearTotalBudget | number:2}} </span>万元</h5>-->



<!--addAnnualBudgetItemModal-->
<div class="modal fade" id="addAnnualBudgetItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加经费预算条目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="subjectCode" class="col-lg-2 control-label">会计科目</label>
                            <div class="col-lg-10">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-lg-2 control-label">金额</label>
                            <div class="col-lg-10">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="assistPersonTask" class="col-lg-2 control-label">预算测试依据与说明</label>
                            <div class="col-lg-10">
                                
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addAnnualBudgetItemClick()">添加</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--deleteAnnualBudgetItem-->
<div class="modal fade" id="deleteAnnualBudgetItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">删除经费预算条目</h4>
            </div>
            <div class="modal-body">
                <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>确认要删除此经费预算条目？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delBudgetItem()">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->