<!DOCTYPE html>
<html ng-app="ngDirectedDelegationApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap-table.css" />
		<link rel="stylesheet" href="css/bootstrap-editable.css" />

	</head>

	<body ng-controller="ngDirectedDelegationCtrl">
		<div class="container">
			<br />
			<ol class="breadcrumb">
				<li>
					<a><i class="fa fa-dashboard"></i> 全院管理</a>
				</li>
				<li>
					<a> 申请书管理</a>
				</li>
				<li class="active"> 定向委托申请书</li>
			</ol>
			<div class="box box-solid" style="margin-top: 40px">
				<div class="box-header" style="cursor: move; background-color:#30bbbb;">
					<div class="pull-right box-tools">
						<button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px; background-color:#30bbbb;" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
					</div>

					<h3 class="box-title"> 定向委托申请书列表 </h3>
				</div>
				<div class="box-body" style="display: block;">
					<div>
						<div class="jvectormap-container" style="width: 100%; height: 100%; position: relative; overflow: hidden; background-color: transparent;">
							<!--  <div id="toolbar" class="dataTables_length">
                            <button class="btn btn-primary" style="background-color:#30bbbb;" data-toggle="modal" data-target="#handleApplication">受理</button>
                            &lt;!&ndash;<label>|</label>
                            <button class="btn btn-primary" style="background-color:#30bbbb;" data-toggle="modal" data-target="#rejectApplication">驳回</button>&ndash;&gt;
                        </div>
                        <br />-->
							<div class="row">
								<div class="form-group col-lg-3 col-md-3 col-sm-3">
									<label for="applyType_searchcobobox" class="col-lg-5 control-label">类型</label>
									<div class="col-lg-7">
										<select class="form-control" id="applyType_searchcobobox">
											<option></option>
											<option>项目类型01</option>
											<option>项目类型02</option>
											<option>项目类型03</option>
											<option>项目类型04</option>
											<option>项目类型05</option>
											<option>项目类型06</option>
										</select>
									</div>
								</div>
								<div class="form-group col-lg-3 col-md-3 col-sm-3">
									<label for="applyUnit_searchcobobox" class="col-lg-5 control-label">单位</label>
									<div class="col-lg-7">
										<select class="form-control" id="applyUnit_searchcobobox">
											<option></option>
											<option>生物所</option>
											<option>蔬菜所</option>
											<option>沼气所</option>
											<option>作科所</option>
											<option>水稻所</option>
										</select>
									</div>
								</div>
								<div class="form-group col-lg-1 col-md-1 col-sm-1">
									<!--<button class="btn btn-primary" style="background-color:#30bbbb;" data-toggle="modal" data-target="#handleApplication">受理</button>-->
								</div>
								<div class="form-group col-lg-5 col-md-5 col-sm-5"></div>

							</div>
							<table class="table table-striped table-hover" id="unhandledTable">
								<thead>
									<tr>
										<th>申请书名称</th>
										<th>类型</th>
										<th>执行期限</th>
										<th>承担单位</th>
										<th>牵头负责人</th>
										<th>PDF文件</th>
										<th>状 态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-show='isShow1'>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#viewApplication">申请书01</a>
										</td>
										<td>类型01</td>
										<td>一年</td>
										<td>研究所01</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#responserLeader">负责人01</a>
										</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#PDFDownLoad">PDF下载</a>
										</td>
										<td>
											<span ng-show="waitHandle1" class="badge bg-yellow">待受理</span>
											<span ng-show="hasHandle1" class="badge bg-green">已受理</span>
											<span ng-show="notHnadle1" class="badge bg-red">不受理</span>
										</td>
										<td>
											<a class="manage-icon" ng-click="showRejectApplicationModal()" data-toggle="tooltip" data-placement="top" title="" data-original-title="不受理"><i class="fa fa-remove"></i></a>
											<a class="manage-icon" ng-click="showHandleModal()" data-toggle="tooltip" data-placement="top" title="" data-original-title="受理"><i class="fa fa-check"></i></a>
										</td>
									</tr>
									<tr>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#viewApplication">申请书02</a>
										</td>
										<td>类型02</td>
										<td>一年</td>
										<td>研究所02</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#responserLeader">负责人02</a>
										</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#PDFDownLoad">PDF下载</a>
										</td>
										<td>
											<span class="badge bg-yellow">待受理</span>
										</td>
										<td>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="不受理"><i class="fa fa-remove"></i></a>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="受理"><i class="fa fa-check"></i></a>
										</td>
									</tr>
									<tr>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#viewApplication">申请书03</a>
										</td>
										<td>类型03</td>
										<td>一年</td>
										<td>研究所03</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#responserLeader">负责人03</a>
										</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#PDFDownLoad">PDF下载</a>
										</td>
										<td>
											<span class="badge bg-yellow">待受理</span>
										</td>
										<td>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="不受理"><i class="fa fa-remove"></i></a>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="受理"><i class="fa fa-check"></i></a>
										</td>
									</tr>
									<tr>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#viewApplication">申请书04</a>
										</td>
										<td>类型04</td>
										<td>一年</td>
										<td>研究所04</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#responserLeader">负责人04</a>
										</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#PDFDownLoad">PDF下载</a>
										</td>
										<td>
											<span class="badge bg-yellow">待受理</span>
										</td>
										<td>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="不受理"><i class="fa fa-remove"></i></a>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="受理"><i class="fa fa-check"></i></a>
										</td>
									</tr>
									<tr>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#viewApplication">申请书05</a>
										</td>
										<td>类型05</td>
										<td>一年</td>
										<td>研究所05</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#responserLeader">负责人05</a>
										</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#PDFDownLoad">PDF下载</a>
										</td>
										<td>
											<span class="badge bg-yellow">待受理</span>
										</td>
										<td>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="不受理"><i class="fa fa-remove"></i></a>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="受理"><i class="fa fa-check"></i></a>
										</td>
									</tr>
									<tr>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#viewApplication">申请书06</a>
										</td>
										<td>类型06</td>
										<td>一年</td>
										<td>研究所06</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#responserLeader">负责人06</a>
										</td>
										<td>
											<a class='refuse' data-toggle="modal" data-target="#PDFDownLoad">PDF下载</a>
										</td>
										<td>
											<span class="badge bg-yellow">待受理</span>
										</td>
										<td>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="不受理"><i class="fa fa-remove"></i></a>
											<a class="manage-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="受理"><i class="fa fa-check"></i></a>
										</td>
									</tr>
								</tbody>
							</table>

							<div class="dataTables_info col-lg-9">
								<h3>当前显示 1 到 6 条， 共 6 条</h3>
							</div>

							<div class="dataTables_paginate col-lg-3">
								<ul class="pagination">
									<li class="disabled">
										<a>&laquo;</a>
									</li>
									<li class="active">
										<a>1</a>
									</li>
									<li>
										<a data-toggle="modal" data-target="#pageNextWaring">2</a>
									</li>
									<li>
										<a>3</a>
									</li>
									<li>
										<a>4</a>
									</li>
									<li>
										<a>5</a>
									</li>
									<li>
										<a>&raquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 模态框 PDF下载-->
		<div class="modal" id="PDFDownLoad">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">注意：</h4>
					</div>
					<div class="modal-body">
						<p>文件正在下载…</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color:#30bbbb;">确定</button>
					</div>
				</div>
			</div>
		</div>
		<!--查看的模态框  2017.04.25-->
		<div class="modal fade" id="viewApplication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<!--右上角叉号-->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title">申请书</h3>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="progress xs col-lg-12">
								<div class="progress-bar progress-bar-light-blue" style="width: 100%; margin-left: auto; margin-right: auto;"></div>

							</div>
							<h3>&nbsp;&nbsp;&nbsp;基本信息</h3>
						</div>
						<div class="row">

							<div class="col-lg-6">
								<h4>工作任务名称</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;申请书01</strong></h5>
								<h4>委托部门（甲方）</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国农业科学院</strong></h5>
								<h4>承担部门（乙方）</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主持单位：科技管理局</strong></h5>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目负责人：项目负责人01</strong></h5>

								<h4>经费预算：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20万</strong></h5>
								<h4>2017年度经费：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15万</strong></h5>
							</div>
							<div class="col-lg-6">
								<h4>单位名称：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科技管理局</strong></h5>
								<h4>编号：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;123456789</strong></h5>
								<h4>实施起止年限：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017年1月&nbsp;&nbsp;至&nbsp;&nbsp;2017年12月</strong></h5>
								<h4>类别：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类别01</strong></h5>
							</div>
							<!--  <div class="col-lg-5">
                            <h4>工作任务名称</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;申请书01</strong></h5>
                            <h4>委托部门（甲方）</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国农业科学院</strong></h5>
                            <h4>承担部门（乙方）</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主持单位：科技管理局</strong></h5>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目负责人：项目负责人01</strong></h5>
                        </div>
                        <div class="col-lg-7">
                            &lt;!&ndash;<h4>起止日期</h4>
                            <h5><strong>2017年1月至2017年12月</strong></h5>
                            <h4>填报时间</h4>
                            <h5><strong>2016年11月</strong></h5>&ndash;&gt;
                            <div class="box-body">
                                <ul class="todo-list ui-sortable">
                                    <li>
                                        <span class="text">编号：123456789</span>
                                    </li>
                                    <br />
                                    <li>
                                        <span class="text">实施起止年限：2017年1月&nbsp;&nbsp;至&nbsp;&nbsp;2017年12月</span>
                                    </li>
                                    <br />
                                    <li>
                                        <span class="text">类别：类别01</span>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
						</div>
						<br />
						<div class="row">
							<div class="progress xs col-lg-12">
								<div class="progress-bar progress-bar-light-blue" style="width: 100%; margin-left: auto; margin-right: auto;"></div>
							</div>
						</div>
						<!-- <div class="row">
                        <div class="col-lg-4">
                            <h4>单位名称：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科技管理局</strong></h5>
                            <h4>经费预算：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20万</strong></h5>
                            <h4>2017年度经费：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15万</strong></h5>
                        </div>
                        <div class="col-lg-4">
                            <h4>主持人：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名01</strong></h5>
                            <h4>性别：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男</strong></h5>
                            <h4>职称：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研究员</strong></h5>
                            <h4>电子邮箱：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zhuchiren@163.cn</strong></h5>
                            <h4>手机：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;123456789</strong></h5>
                        </div>
                        <div class="col-lg-4">
                            <h4>联系人：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系人01</strong></h5>
                            <h4>电话：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12345678985</strong></h5>
                            <h4>电子邮箱：</h4>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lianxiren@163.cn</strong></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="progress xs col-lg-12">
                            <div class="progress-bar progress-bar-light-blue" style="width: 100%; margin-left: auto; margin-right: auto;"></div>
                        </div>
                    </div>-->

					</div>
					<div class="modal-footer">
						<!-- <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!--牵头负责人信息的模态框-->
		<div class="modal fade" id="responserLeader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<!--<div class="modal">-->
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<!--右上角的关闭按钮-->
						<h3 class="modal-title">负责人信息</h3>
					</div>
					<div class="modal-body">

						<div class="row">
							<div class="progress xs col-lg-12">
								<div class="progress-bar progress-bar-light-blue" style="width: 100%; margin-left: auto; margin-right: auto;"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<h4>单位名称：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科技管理局</strong></h5>
							</div>
							<div class="col-lg-4">
								<h4>主持人：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名01</strong></h5>
								<h4>性别：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男</strong></h5>
								<h4>职称：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研究员</strong></h5>
								<h4>电子邮箱：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zhuchiren@163.cn</strong></h5>
								<h4>手机：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;123456789</strong></h5>
							</div>
							<div class="col-lg-4">
								<h4>联系人：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系人01</strong></h5>
								<h4>电话：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12345678985</strong></h5>
								<h4>电子邮箱：</h4>
								<h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lianxiren@163.cn</strong></h5>
							</div>
						</div>
						<div class="row">
							<div class="progress xs col-lg-12">
								<div class="progress-bar progress-bar-light-blue" style="width: 100%; margin-left: auto; margin-right: auto;"></div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<!-- <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
					</div>
				</div>
			</div>
		</div>

		<!--受理的模态框-->
		<div class="modal fade" id="handleApplication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<!--<div class="modal">-->
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title">受理</h3>
					</div>
					<div class="modal-body">

						<div class="container">
							<p style="font-size: 20px;">您确定要受理该申请书吗？</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color:#30bbbb;" ng-click="handleApplicationSure()">确定</button>
					</div>
				</div>
			</div>
		</div>
		<!--不受理的模态框-->
		<div class="modal fade" id="rejectApplication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<!--<div class="modal">-->
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title">不受理</h3>
					</div>
					<div class="modal-body">
						<div class="box box-primary">
							<div class="box-header">
								<h3 class="box-title">您确定要对该申请书进行不受理操作吗</h3>
							</div>
							<div class="box-body">
								<form class="form-horizontal row">
									<!--  <p style="font-size: 20px;">您确定要驳回该申请书吗？</p>-->
									<form class="form-horizontal row">
										<div class="form-group">
											<label for="index" class="col-lg-3 control-label">请填写不受理原因：</label>
											<div class="col-lg-7">
												<textarea class="form-control" rows="3" id="index" placeholder="不受理原因：..."></textarea>
											</div>

										</div>
									</form>
								</form>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="handleApplicationNotSure()">确定</button>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>