<?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="JobKey" value="TimedTaskJob" />
    <add key="JobTime" value="2018-07-26 01:00:00.008" />
    <add key="JobScheduledTime" value="2018-07-26 01:00:00.000" />
    <add key="JobNextTime" value="2018-07-27 01:00:00.000" />
    <add key="JobCount" value="0" />
    <add key="ApplicationSubmitBeginTime" value="2018-04-02 00:00:00" />
    <add key="ApplicationSubmitDeadline" value="2018-08-05 23:59:59" />
    <add key="ApplicationVerifyDeadline" value="2018-09-09 23:59:59" />
    <add key="ApplicationExpertDeadline" value="2018-09-21 23:59:59" />
    <add key="ApplicationStartYear" value="2018" />
    <add key="AutoAssignmentExpert" value="false" />
  </appSettings>
