    <h5>项目负责人</h5>
    <form class="form-horizontal">
        <fieldset>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="leaderName" class="col-lg-3 control-label">姓名</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="$ctrl.leaderInfoData.Name" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leaderIDCard" class="col-lg-3 control-label">身份证号</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="$ctrl.leaderInfoData.IDCard" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leaderSubFieldId" class="col-lg-3 control-label">专业</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="$ctrl.leaderInfoData.Major" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leaderTask" class="col-lg-3 control-label">责任分工</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="$ctrl.leaderInfoData.Duty" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  col-md-6">
                    <div class="form-group">
                        <label for="institute" class="col-lg-3 control-label">单位</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="$ctrl.leaderInfoData.InstituteName" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leaderMale" class="col-lg-3 control-label">性别</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="$ctrl.leaderInfoData.Male" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leaderDuty" class="col-lg-3 control-label">职称/职务</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="$ctrl.leaderInfoData.Title" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="xmfzr_phone" class="col-lg-3 control-label">电话</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="$ctrl.leaderInfoData.Phone" disabled />
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
