<!DOCTYPE html>
<html ng-app="ngTimeSettingApp">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/Views/divisionAdmin/timeSetting/timeSetting.css" />

    <!-- dataTimePicker -->
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
</head>
<body ng-controller="ngTimeSettingCtrl">


    <div class="container">
        <!-- 面包屑导航 -->
        <br />
        <ol class="breadcrumb">
            <li>
                <a><i class="fa fa-dashboard"></i> 单位管理</a>
            </li>
            <!--<li>
                <a> 信息</a>
            </li>-->
            <li class="active"> 申请期限设置</li>
        </ol>
        <div class="box box-solid">
            <div class="box-header bg-light-blue-gradient" style="height:41px;">
                <h3 class="box-title">单位开放申请书申请</h3>
                <!-- 开关 -->
                <div class="pull-right">
                    <input type="checkbox" name="sex" id="male" class="chooseBtn" ng-click="checkFun()" />
                    <label for="male" class="choose-label"></label>
                </div>
            </div>
            <br />

            <div class="box-body">
                <div class="row">
                    <div class="col-md-1 col-xs-1">                        </div>
                    <div class="col-md-10 col-xs-10">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-4">
                                                <label class="form-control" style="border:none;">联系人：</label>
                                            </div>
                                            <div class="col-md-9 col-xs-8">
                                                <input type="text" class="form-control" placeholder="input......" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-4">
                                                <label class="form-control" style="border:none;">申请书开放期限：</label>
                                            </div>
                                            <div class="col-md-9 col-xs-8">
                                                <div class="input-group input-daterange" data-provide="datepicker" id="openDate">
                                                    <input type="text" class="form-control datepicker" data-date-end-date="0d" ng-model="startDate">
                                                    <div class="input-group-addon">至</div>
                                                    <input type="text" class="form-control datepicker" data-date-end-date="0d" ng-model="endDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-4">
                                                <label class="form-control" style="border:none;">联系电话 :</label>
                                            </div>
                                            <div class="col-md-9 col-xs-8">
                                                <input type="text" class="form-control" placeholder="input......" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-4">
                                                <label class="form-control" style="border:none;">电子邮箱 :</label>
                                            </div>
                                            <div class="col-md-9 col-xs-8">
                                                <input type="text" class="form-control" placeholder="input......" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control" style="border:none;">提示信息（用于申请人信息栏显示）</label>
                                        <textarea class="form-control required" name="info" ng-model="info" rows="4" placeholder="Enter ..." required style="resize:none;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-1 col-xs-1">                        </div>
                </div>

                <br />

                <!-- /.box-body -->
            </div>
            <div class="box-footer">
            </div>
        </div>
        <!-- /.container -->
    </div>

</body>
</html>