<form class="form-horizontal">
    <fieldset>
        <legend>经费预算</legend>
    </fieldset>
</form>

<br />

<yearbudgetlist></yearbudgetlist>

<br />
<br />
<divisionbudgetlist></divisionbudgetlist>
<br />
<br />

<br />
<br />
<ul class="list-inline pull-right">
    <li><button type="button" class="btn btn-default prev-step" ng-click="backPage()">上一步</button></li>
    <li><button type="button" class="btn btn-primary btn-info-full next-step" ng-disabled="" ng-click="goToFilePage()">下一步</button></li>
</ul>
